.sp [class*="col-"]{
    padding: 0;
}

body{
    background-color: rgb(50, 0, 97);;
}

header{
    height: 70px;
}

.navbar-brand{
    height: 50px;
    padding: 5px;
    margin: 0px;
}

.hero{
    margin: 10px;
}

.seccion1{
    margin: 10px;
}

.seccion2{
    margin: 10px;
}

.section3{
    padding: 10px;
}

.form-group{
    margin:10px;
}